@import 'src/App';

.box {
    background-color: $grey-color;
    border-radius: 5px;
    display: flex;
    margin: 0 10px;
    max-width: 300px;
    padding: 0 15px;
}

.icon {
    color: $dark-color;
    padding: 3px 0 0 0;
}

.input {
    color: $dark-color;
    margin-left: 10px;
}
