$white-color: #ffffff;
$grey-color: #eeeeee;
$dark-color: #393e46;
$black-color: #000000;
$font-family: Verdana, sans-serif;

body {
    margin: 0;
    padding: 0;
    background-color: $grey-color;
    font-family: $font-family;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
